:root{
	--footer-height: 6rem;
	--header-height: 6rem;
	--aside-width: 14rem;
}

/*************************
*********ROOT***********
*************************/

/* GENERAL */
body{
	height: 100vh;
	font-family: 'Montserrat', Arial;
	font-weight: 500;
	/* debug */
}


h2,h3{
	color: white;
	font-weight: bold;
}
h4{
	color: #a3a3a3;
}

footer{
	height: var(--footer-height);
	background-color: #282828;
	z-index: 1;
	position: fixed;
	width: 100%;
}

aside{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
	color: #a3a3a3;
	min-width: var(--aside-width);
	background-color: #000000;
}

main{
	overflow: auto;
	height: 100%;
	width: calc(100% - var(--aside-width));
}

header{
	height: var(--header-height);
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	width: calc(100% - 14rem);
	text-align: end;
}


/* TOP-CONTENT */
.top-content{
	height: calc(100% - var(--footer-height));
	background-color: #141922;
}

/* aside */
.logo > img:first-child{
	width: 10rem;
}

.sidebar-explorer > div > a >img:first-child{
	width: 2rem;
}

.playlist{
	min-height: 5rem;
	overflow: auto;
}

.playlist > .create-pl > div:first-of-type{
	font-size: 3rem;
}

.profile{
	margin-top: auto;
	font-size: 1rem;
}

.download-app > img:first-child{
	width: 1rem;
}

.download-app{
	border-bottom: 2px solid currentColor;
}

/* main */
.main-content{
	padding-top: 6rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.generic-titles{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	color: #a3a3a3;
}

.row.popular-artists > .col-2 > img:first-child{
	display: block;
}