:root{
	--footer-height: 6rem;
	--header-height: 6rem;
	--aside-width: 14rem;
}

/*************************
*********ROOT***********
*************************/

/* GENERAL */
body{
	height: 100vh;
	font-family: 'Montserrat', Arial;
	font-weight: 500;
	/* debug */
}


h2,h3,h5{
	color: white;
	font-weight: bold;
}
h3{
	font-size: 0.9rem;
}
h4{
	font-size: 0.7rem;
}
h4,h6{
	color: #a3a3a3;
}


aside{
	display: flex;
	flex-direction: column;
	color: #a3a3a3;
	min-width: var(--aside-width);
	background-color: #000000;
	overflow: hidden;
}

header{
	height: var(--header-height);
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	width: calc(100% - var(--aside-width));
	text-align: end;
	z-index: 1;
}
main{
	overflow: auto;
	height: 100%;
	width: calc(100% - var(--aside-width));
}

footer{
	height: var(--footer-height);
	background-color: #282828;
	z-index: 2;
	position: fixed;
	width: 100%;
	
	color: white;
}



/* TOP-CONTENT */
.top-content{
	height: calc(100% - var(--footer-height));
	background-color: #141922;
}

/* aside */

.logo > img:first-child{
	width: 10rem;
}
.logo > img:last-child{
	min-width: 2rem;
}

.home{
	border-left: 0.2rem solid #adff2f;
	padding-left: calc(1rem - 0.2rem);
}
.home > a,
.sidebar-explorer > div > a:hover,
.create-pl:hover,
.playlist > ul > li:hover,
.download-app  *:hover{
	filter: brightness(2);
}


.sidebar-explorer > div > a img{
	width: 2rem;
}

.playlist{
	min-height: 5rem;
	overflow: auto;
}

.playlist > .create-pl > div:first-of-type{
	font-size: 3rem;
}

.profile{
	margin-top: auto;
	font-size: 1rem;
}

.download-app  img{
	width: 1.5rem;
}

.download-app{
	border-bottom: 2px solid currentColor;
}

/* main */
.main-content  ul.generic-titles > li > a:hover{
	filter: brightness(2);
}

.btn.primary:hover{
	transform: scale(1.1);
}

.overlay:hover img{
	filter: brightness(0.5);
	cursor: pointer;
}

.overlay:hover > div,
.overlay > img{
	display: block;
	cursor: pointer;
}

.overlay > div{
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.main-content{
	padding-top: 6rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.generic-titles{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	color: #a3a3a3;
}



/* footer */
.title-album > h6 > a:hover{
	text-decoration: underline;
}

.title-album > h6 > a:hover,
.share-buttons i:hover{
	filter: brightness(2);
	
}


.special-play:hover{
	transform: scale(1.1);
}

.footer-bar{
	display: flex;
	justify-content: space-between;
	height: 100%;
}

.details-bar{
	align-items: center;
}

.image-album{
	max-width: 4rem;
}


.play-bar{
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	flex-shrink: 0;
	height: 100%;
	justify-content: space-evenly;
	
}


.timeline{
	display: flex;
	width: 100%;
	justify-content: center;
}

.progress-bar{
	width: 60%;
	height: 0.2rem;
	background-color: #5a5a5a;
	align-self: center;
}

.audio-bar{
	align-items: center;
}

.audio-progress-bar{
	width: 4rem;
	height: 0.2rem;
	background-color: #5a5a5a;
	align-self: center;
	border-radius: 2px;
}

.progress{
	position: relative;
	width: 25%;
	height: 100%;
	background-color: #cecece;
}

.progress-bar:hover .progress,
.audio-progress-bar:hover .progress{
	background-color: #adff2f;
}
.progress-bar:hover .progress > .little-circle.time,
.audio-progress-bar:hover .progress > .little-circle.audio{
	display:block;
}

.little-circle.time,
.little-circle.audio{
	display: none;
	top: calc(50% - 0.5rem);
	right: calc(0% - 0.5rem);
}



/* MEDIA QUERY XS */
@media screen and (max-width: 480px) {
	aside{
		min-width: calc(var(--aside-width) - var(--aside-width)) ;
	}
	main{
		width: calc(100% - 2rem);
	}
	header{
		width: calc(100% - 3rem);
	}

	.download-app{
		border-bottom: none;
	}

	.audio-bar{
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
}